<table class="table table-sm table-custom table-bordered" id="home-datatable" style="width: 100%" data-source="<%= datatable_home_index_path(format: :json) %>">
    <thead class="thead" style="font-size: 14px;">
        <tr>
            <th style="width: 8%">Tanggal</th>
            <th style="width: 12%" class="text-center">No. Kwitansi</th>
            <th style="width: 20%">Nama</th>
            <th style="width: 12%">Rekening</th>
            <th style="width: 10%">Cetya</th>
            <th style="width: 10%">Transaksi</th>
            <th style="width: 15%">Tabungan</th>
            <th style="width: 14%">Jumlah</th>
            <th style="width: 10%">Keterangan</th>
        </tr>
    </thead>
    <tbody style="font-size: 14px;">
    </tbody>
</table>