<%= render  "layouts/header" %>
<div class="container">
    <div class="row">
        <%= render  "home/tableContent" %>
    </div>
</div>

<script>
$(document).ready(function() {
//   $.fn.dataTable.render.moment( 'DD-MMM-YYYY' );

  var iTable = $('#home-datatable').DataTable({
    "processing": true,
    "serverSide": true,    
    "ajax": {
      "url": $('#home-datatable').data('source'),
      type: 'POST'
    },
    "pagingType": "full_numbers",
    "columns": [
      {"data": "transaction_date"},
      {"data": "receipt_no",
       "render": function (data) {
         return '<b>' + data + '</b>'
       }
      },
      {"data": "name"},
      {"data": "account_number"},
      {"data": "cetya"},
      {"data": "transaction_type"},
      {"data": "saving_type"},
      {"data": "currency"},
      {"data": "desc"}
    ],
    "columnDefs": [
      {
        "targets": 7,
        "render": function (data, type, row) {
          const money = " " + row.money_value
          return data +  money;
        }
      },
      {
        className: "receipt_no",
        "targets": 1
      },
      {
        className: "account_num",
        "targets": 3
      }
    ],
    "order": [[0, "desc"]],
    dom: '<"top"Bfr><t><"bottom"pli>',
    buttons: [
      {
        extend: 'copy',
        exportOptions: {
          columns: ':visible'
        }
      },
      {
        extend: 'excel',
        exportOptions: {
          columns: ':visible'
        }
      },
      {
        extend: 'print',
        exportOptions: {
          columns: ':visible'
        }
      }
    ]
  });
});
</script>