<div class="container d-flex h-100">
    <div class="row align-self-center w-100">
      <div class="col-6 mx-auto border border-primary rounded shadow p-4">
          <div class="col-12"><h2>Masuk</h2></div>
          <div class="col-12"><%= render  "devise/shared/alerts" %></div>
          <div class="col-12"><%= render  "devise/sessions/form" %></div>
      </div>
    </div>
</div>