<%= render  "layouts/header" %>
<div class="container">
    <div class="row">
        SEARCH PLACEHOLDER
    </div>
    <div class="row">
        <%= render  "addContent" %>
    </div>
    <div class="row">
        <%= render  "tableContent" %>
    </div>
    
</div>
