// Use this colour palette https://colorhunt.co/palette/149559

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #313131;
    color: rgb(224, 224, 224);
 }

ul li a.nav-link{
    color: #ffffff !important;
 }

 .active{
    font-weight: bold;
 }

.bg-custom-dark{
    background-color: #ca3e47;
 }

.row{
   margin-top: 10px;
 }

 .formtitle{
    border-bottom: solid thin;
    border-color: white;
 }

 .table-custom{
    color: rgb(224, 224, 224);
 }

 .table-custom thead{
   background-color: #313131;
 }

 .table-custom tbody{
    background-color: #414141;
 }

 .table-bordered{
    border-color: rgb(119, 119, 119);
 }

 .table-bordered > thead > tr > th{
   border-color: rgb(119, 119, 119);
 }

 .table-bordered > tbody > tr > td{
   border-color: rgb(119, 119, 119);
}

 a {
    color: #e0e0e0;
 }

 a:hover{
   color: #c5c5c5;
 }

 #namaUmat{
   border-bottom: solid thin;
   border-color: white;
   color: white;
 }

 input[type=text]{
    border: black;
    background-color: #525252;
    color: white;
 }

 input[type=text]:focus{
   border: black;
   background-color: #525252;
   color: white;
}

input[type=tel]{
   border: black;
   background-color: #525252;
   color: white;
}

input[type=tel]:focus{
  border: black;
  background-color: #525252;
  color: white;
}

#member_cetya{
   border: black;
   background-color: #525252;
   color: white;
}

.invalid-feedback{
   color: #e7515b;
}