// Use this colour palette https://colorhunt.co/palette/22272
html{
   height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f7f7;
    color: #0e0e0e;
    height: 100%;
 }

ul li a.nav-link{
    color: #ffffff !important;
 }

 #identity a{
    color: #ffffff !important;
    text-decoration: none;
 }

 #signOut a{
   color: #ffffff !important;
   text-decoration: none;
 }

 #signIn a{
    color: #ffffff !important;
    text-decoration: none;
 }

 #signUp a{
   color: #ffffff !important;
   text-decoration: none;
 }

 .active{
    font-weight: bold;
 }

.bg-custom-dark{
    background-color: #112d4e;
 }

.row{
   margin-top: 10px;
 }

 .formtitle{
    border-bottom: solid thin;
    border-color: rgb(85, 85, 85);
 }

 .table-custom thead{
    background-color: #112d4e;
 }

 .table-custom thead th{
   background-color: #112d4e;
   color: white;
 }

 .table-custom tbody{
    background-color: #f9f7f7;
 }

 .table-bordered{
    border-color: #000000;
 }

 .table-bordered > thead > tr > th{
   border-color: #000000;
 }

 .table-bordered > tbody > tr > td{
   border-color: #000000;
}

 a {
    color: #0e0e0e;
 }

 a:hover{
   color: #383838;
 }

 #namaUmat{
   border-bottom: solid thin;
   border-color: rgb(160, 160, 160);
   color: black;
 }
 
.invalid-feedback{
   color: #74141a;
}

#transactionTable{
   display: block;
   height: 276px;
   overflow-y: scroll;
}

#homeTable{
   display: block;
   height: 430px;
   overflow-y: scroll;
}

#members-datatable_wrapper{
   width: 100%;
}

#home-datatable_wrapper{
   width: 100%;
}

#home-datatable_filter{
   float: left !important;
}

#members-datatable_filter{
   float: left !important;
}

.dt-buttons{
   float: right !important;
   margin-bottom: 10px;
}
