<div class="row">
    <%= link_to new_member_path, class: "btn btn-primary" do %> 
        <i class="fas fa-plus"></i> Tambah Data Umat
    <% end %>
</div>
<div class="row">
 <table class="table table-sm table-custom table-bordered" id="members-datatable" data-source="<%= datatable_members_path(format: :json) %>" style="width: 100%;">
    <thead class="thead">
        <tr>
            <th scope="col" style="width: 50%;">Nama</th>
            <th class="text-center" scope="col" style="width: 15%;">Nomor Rekening</th>
            <th scope="col" style="width: 35%;">Cetya</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
 </table>
</div>
