<div class="row">
    <b>SEARCH PLACEHOLDER</b>
</div>
<div class="row">
    <%= link_to new_member_path, class: "btn btn-primary" do %> 
        <i class="fas fa-plus"></i> Tambah Data Umat
    <% end %>
</div>

