<%= render 'layouts/header' %>
<div class="container">
    <%= render 'tableContent' %>
</div>

<script>
jQuery(document).ready(function() {
  $('#members-datatable').DataTable({
    "processing": true,
    "serverSide": true,
    "ajax": {
      "url": $('#members-datatable').data('source')
    },
    "pagingType": "full_numbers",
    "columns": [
      {"data": "name"},
      {"data": "cetya"},
    ]
    // dom: 'Bfrtip',
    // buttons: [
    //         'copyHtml5', 'excelHtml5', 'print'
    // ]
  });
});
</script>