<%= render 'layouts/header' %>
<div class="container">
    <%= render 'tableContent' %>
</div>

<script>
jQuery(document).ready(function() {
  $('#members-datatable').dataTable({
    "processing": true,
    "serverSide": true,
    "ajax": {
      "url": $('#members-datatable').data('source')
    },
    "pagingType": "full_numbers",
    "columns": [
      {"data": "name"},
      {"data": "cetya"},
    ]
    // pagingType is optional, if you want full pagination controls.
    // Check dataTables documentation to learn more about
    // available options.
  });
});
</script>