<%= render 'layouts/header' %>
<div class="container">
    <%= render 'tableContent' %>
</div>

<script>
jQuery(document).ready(function() {
  $('#members-datatable').DataTable({
    "processing": true,
    "serverSide": true,
    "ajax": {
      "url": $('#members-datatable').data('source'),
      type: 'POST'
    },
    "pagingType": "full_numbers",
    "columns": [
      {"data": "name", "render": function (data){
        return '<b>' + data + "</b>";
      }},
      {"data": "account_number"},
      {"data": "cetya"}
    ],
    dom: '<"top"fr><t><"bottom"pli>',
    "columnDefs": [
      {
        className: "account_num",
        "targets": [1] 
      }
    ]
  });
});
</script>